// Customizing the Bootstrap.
$spacer: 1.5rem;
$line-height-base: 1.8;

$headings-font-weight: 600;
$h2-font-size: 1rem * 1.3;

@import '~bootstrap/scss/bootstrap.scss';

$logoWidth: 150px;
$logoHeight: 32px;

.logo {
  display: block;
  width: $logoWidth;
  height: $logoHeight;
  background-image: url(../images/1x/challecara_logo_white.png);
  text-indent: -99999px;
}

/* A setting for the high-res display. See: https://stackoverflow.com/a/16154726/1872674 */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .logo {
    background-image: url(../images/2x/challecara_logo_white.png);
    background-size: $logoWidth $logoHeight;
  }
}

.full-height-background {
  min-height: 100%;
  min-width: 320px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.component-root {
  position: relative;
}

.component-body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover-heading {
  font-family: Circular, Helvetica, Arial, sans-serif;
  letter-spacing: -0.04em;
  font-weight: 900;
  line-height: 1.15;
  font-size: 54px;
  color: white;
}

.white-font-base {
  background-color: rgba(0, 0, 0, 0.15);
  padding-left: 4px;
  padding-right: 4px;
}

// Bootstrap extended.

.btn-line-style {
  @include button-variant(#00C300, #00C300);
}

.btn-slack-style {
  @include button-variant(#611F69, #611F69);
}

@import "checkmark-icon";
@import "newcomer";
